<% content_for :title, "Competitions" %>

<div class="w-full">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">运动会列表</h1>
    <%= link_to "新建运动会", new_competition_path, class: "btn btn-primary" %>
  </div>

  <div id="competitions" class="min-w-full grid grid-cols-3 gap-5 mt-8">
    <% if @competitions.any? %>
      <% @competitions.each do |competition| %>
        <div class="card px-5 border border-gray-200 rounded-lg shadow-sm flex flex-col justify-between">
          <%= render competition %>
          <div class="w-full sm:w-auto flex sm:flex-row space-x-2 space-y-2 justify-end">
            <%= link_to "查看", competition, class: "btn" %>
            <%= button_to "删除", competition, method: :delete, class: "btn btn-error text-white", data: { turbo_confirm: "确定要删除该项目吗？" } %>
          </div>
        </div>
      <% end %>
    <% else %>
      <p class="text-center my-10">没有找到运动会.</p>
    <% end %>
  </div>
</div>
